In [128]:
#Importando Bibliotecas
import pandas as pd
import numpy as np
import os
import datetime
from pathlib import Path

In [129]:
#Selecionando as Variáveis
ano_dt_base = 2020
tx_juros = 0.06
cres_sal = 0.01
cres_benef = 0.01

Colunas que vai precisar pro cálculo:

LOTAÇÃO	MATRICULA	GRUPO	CRITERIO DE APOSENTADORIA	SEXO	DTNASC	DTADM	DATACARGO	SALPART	CARREIRA	TSANT	CONJUGE	DTNASCONJ	DTNASDEPINV	DTNASDEPVAL

In [242]:
#Importando as bases
bd_ativos = pd.read_csv(str(Path(os.getcwd())) + '\\1.SERVIDORES.csv', encoding='UTF-8', sep=';')#, thousands=',')

#Convertendo os dados para float
bd_ativos['DT_NASC_SERVIDOR'] = pd.to_datetime(bd_ativos['DT_NASC_SERVIDOR'], yearfirst=True, format='%d/%m/%Y')
bd_ativos['DT_ING_ENTE'] = pd.to_datetime(bd_ativos['DT_ING_ENTE'], yearfirst=True, format='%d/%m/%Y')
bd_ativos['DT_ING_CARGO'] = pd.to_datetime(bd_ativos['DT_ING_ENTE'], yearfirst=True, format='%d/%m/%Y')
bd_ativos['VL_BASE_CALCULO'] = bd_ativos['VL_BASE_CALCULO'].str.replace(',', '.').astype(float)
bd_ativos['DT_NASC_CONJUGE'] = pd.to_datetime(bd_ativos['DT_NASC_CONJUGE'], yearfirst=True, format='%d/%m/%Y')

#bd_ativos['IDADE'] = 2021 - bd_ativos['DT_NASC_SERVIDOR'].dt.strftime('%Y').astype(int)

In [141]:
#Calculando as Estatísticas dos Ativos
statistics_ativos = pd.DataFrame()

statistics_ativos['IDADE_SERVIDOR'] = ano_dt_base - bd_ativos['DT_NASC_SERVIDOR'].dt.strftime('%Y').astype(int) #Ano da Data-Base - Data de Nascimento do Servidor
statistics_ativos['IDADE_ADM'] =  bd_ativos['DT_ING_ENTE'].dt.strftime('%Y').astype(int) - bd_ativos['DT_NASC_SERVIDOR'].dt.strftime('%Y').astype(int) #Data de Ingresso no Ente - Data de Nascimento do Servidor
#statistics_ativos['IDADE_CONJUGE'] =  ano_dt_base - bd_ativos['DT_NASC_CONJUGE'].dt.strftime('%Y').astype(int) #Ano da Data-Base - Data de Nascimento do Cônjuge
#statistics_ativos['IDADE'] = ano_dt_base - bd_ativos['DT_NASC_SERVIDOR'].dt.strftime('%Y').astype(int)
#statistics_ativos['TSANT'] = bd_ativos['DT_ING_ENTE'] - pd.to_timedelta(bd_ativos['NU_TEMPO_RGPS'], unit='d')

statistics_ativos

     IDADE_SERVIDOR  IDADE_ADM
0                40         20
1                45         42
2                48         27
3                31         24
4                42         35
..              ...        ...
357              45         23
358              26         25
359              36         25
360              44         31
361              57         44

[362 rows x 2 columns]

In [200]:
#bd_ativos.columns
#bd_ativos['DT_NASC_CONJUGE'].head(15)
bd_ativos['DT_NASC_CONJUGE'].head(15) #28/08/1960

0           NaT
1           NaT
2           NaT
3           NaT
4           NaT
5           NaT
6           NaT
7           NaT
8           NaT
9    1960-08-28
10          NaT
11          NaT
12          NaT
13          NaT
14   1983-11-18
Name: DT_NASC_CONJUGE, dtype: datetime64[ns]

In [259]:
#statistics_ativos['IDADE_CONJUGE'] = np.where(bd_ativos['DT_NASC_CONJUGE'] == '', "False", "True")
#statistics_ativos['IDADE_CONJUGE'] = bd_ativos['DT_NASC_CONJUGE'].apply(lambda x: 'True' if x pd.isna(bd_ativos['DT_NASC_CONJUGE']) else 'False')
#statistics_ativos['IDADE_CONJUGE'].apply(lambda x: 'True' if x.bd_ativos['NU_TEMPO_RGPS'] > 5000 else 'False')
#statistics_ativos['IDADE_CONJUGE'] = np.where(pd.isna(bd_ativos['DT_NASC_CONJUGE']), "", "10")
#statistics_ativos['IDADE_CONJUGE'].head(15)

for i in range(127):
    if pd.notnull(bd_ativos['DT_NASC_CONJUGE']).loc[i] == 'True':
        statistics_ativos['IDADE_CONJUGE'].loc[i] = ano_dt_base - bd_ativos['DT_NASC_CONJUGE'].dt.strftime('%Y').astype(int).loc[i]
    else:
        statistics_ativos['IDADE_CONJUGE'].loc[i] = ''

statistics_ativos['IDADE_CONJUGE'].head(15)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: IDADE_CONJUGE, dtype: object

In [256]:
#statistics_ativos['IDADE_CONJUGE'] = np.where(pd.isna(bd_ativos['DT_NASC_CONJUGE']), "", "10")
statistics_ativos['IDADE_CONJUGE'] = pd.notnull(bd_ativos['DT_NASC_CONJUGE'])
statistics_ativos['IDADE_CONJUGE'].head(15)
#statistics_ativos['IDADE_CONJUGE'].loc[9]

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14     True
Name: IDADE_CONJUGE, dtype: bool

In [55]:
bd_ativos['VL_BASE_CALCULO'] = bd_ativos['VL_BASE_CALCULO'].str.replace(',', '.').astype(float)
#bd_ativos['VL_BASE_CALCULO'] = bd_ativos['VL_BASE_CALCULO'].astype(float)
bd_ativos['TESTE'] = bd_ativos['VL_BASE_CALCULO'] + 1000
bd_ativos[['TESTE', 'VL_BASE_CALCULO']]

       TESTE  VL_BASE_CALCULO
0    2100.00          1100.00
1    2100.00          1100.00
2    2708.84          1708.84
3    4378.49          3378.49
4    2100.00          1100.00
..       ...              ...
357  3410.58          2410.58
358  3972.73          2972.73
359  4326.21          3326.21
360  3141.74          2141.74
361  4426.86          3426.86

[362 rows x 2 columns]