In [92]:
#Importando Bibliotecas
import pandas as pd
import numpy as np
import os
import datetime
from pathlib import Path

In [93]:
#Selecionando as Variáveis
ano_dt_base = 2020

In [182]:
bd = pd.read_csv(str(Path(os.getcwd())) + '\\teste_data.csv', encoding='UTF-8', sep=';')#, thousands=',')

bd['DT_NASC'] = pd.to_datetime(bd['DT_NASC'], yearfirst=True, format='%d/%m/%Y')

In [121]:
bd['DT_NASC'].mask(bd['DT_NASC'].isnull(), '1800-12-31', axis=0, inplace=True)
bd['IDADE'] = ano_dt_base - bd['DT_NASC'].dt.strftime('%Y').astype(int)
bd

   ESTADO_CIVIL    DT_NASC  IDADE
0             2 1960-08-28     60
1             1 1800-12-31    220
2             1 1800-12-31    220
3             2 1983-11-18     37
4             2 1992-01-23     28
5             2 1984-03-26     36
6             1 1800-12-31    220
7             2 1977-02-03     43

In [174]:
statis_ativos = pd.DataFrame()

statis_ativos['IDADE_CONJUGE'] = ano bd['DT_NASC'].mask(bd['DT_NASC'].isnull(), None, axis=0)#, inplace=True)
statis_ativos

  IDADE_CONJUGE
0    1960-08-28
1           NaT
2           NaT
3    1983-11-18
4    1992-01-23
5    1984-03-26
6           NaT
7    1977-02-03

In [143]:
statis_ativos['IDADE_CONJUGE'] = ano_dt_base - statis_ativos['IDADE_CONJUGE'].dt.strftime('%Y').astype(int)
statis_ativos

   IDADE_CONJUGE
0             60
1              0
2              0
3             37
4             28
5             36
6              0
7             43

In [145]:
statis_ativos['ESTADO_CIVIL'] = bd['ESTADO_CIVIL']
statis_ativos

   IDADE_CONJUGE  ESTADO_CIVIL
0             60             2
1              0             1
2              0             1
3             37             2
4             28             2
5             36             2
6              0             1
7             43             2

In [164]:
statis_ativos.loc[statis_ativos['ESTADO_CIVIL'] == 1, 'IDADE_CONJUGE'] = None
statis_ativos

  IDADE_CONJUGE  ESTADO_CIVIL
0            60             2
1          None             1
2          None             1
3            37             2
4            28             2
5            36             2
6          None             1
7            43             2

In [173]:
#type(statis_ativos['IDADE_CONJUGE'].loc[1])
statis_ativos['IDADE_CONJUGE'].mean()

40.8

In [169]:
type(statis_ativos['IDADE_CONJUGE'].loc[0])

int

In [102]:
#bd.loc[bd['ESTADO_CIVIL'] == 2, 'IDADE'] = 2020 - bd['DT_NASC'].dt.strftime('%Y').astype(int)
bd['DT_NASC'].mask(bd['DT_NASC'].isnull(), '2020-12-31', axis=0, inplace=True)
bd

   ESTADO_CIVIL    DT_NASC
0             2 1960-08-28
1             1 2020-12-31
2             1 2020-12-31
3             2 1983-11-18
4             2 1992-01-23
5             2 1984-03-26
6             1 2020-12-31
7             2 1977-02-03

In [103]:
bd['IDADE'] = ano_dt_base - bd['DT_NASC'].dt.strftime('%Y').astype(int)
bd['IDADE']

0    60
1     0
2     0
3    37
4    28
5    36
6     0
7    43
Name: IDADE, dtype: int32

In [181]:
#Importando Bibliotecas
import pandas as pd
import numpy as np
import os
from pathlib import Path

Pizza
Você escolheu a comida Pizza que está na posição 3